<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="odb_smart_export_admin_index" path="/admin/"
           controller="odb.smart-export.controller.admin::index"/>
    <route id="odb_smart_export_admin_edit" path="/admin/edit/{code}"
           controller="odb.smart-export.controller.admin::edit"/>
    <route id="odb_smart_export_admin_toggle" path="/admin/toggle/{code}"
           controller="odb.smart-export.controller.admin::toggle"/>
    <route id="odb_smart_export_admin_remove" path="/admin/remove/{code}"
           controller="odb.smart-export.controller.admin::toggle"/>
    <route id="odb_smart_export_admin_data_structure" path="/admin/data-structure/{token}"
           controller="odb.smart-export.controller.admin::getDataStructure"/>
    <route id="odb_smart_export_admin_demo_export" path="/admin/demo-export/{code}"
           controller="odb.smart-export.controller.admin::demoExport"/>
</routes>