<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

<!--    <route id="tbl_cram_admin_index" path="/"-->
<!--           controller="odb.cram.admin.controller:index"/>-->

<!--    <route id="tbl_cram_admin_engine_edit" path="/edit/{engine_id}"-->
<!--           controller="odb.cram.admin.controller:edit"/>-->

<!--    <route id="tbl_cram_admin_engine_delete" path="/delete/{engine_id}"-->
<!--           controller="odb.cram.admin.controller:delete"/>-->


</routes>